.monthly_search_list {
  display: flex;
  li {
    background: #f2f2f2;
    border-radius: 1rem;
    margin-right: 1rem;
    padding: 1.5rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 2rem;
      margin: 2rem 0 0;
    }
    img {
      margin-top: 1rem;
    }
    &.search_total {
      background: #13C151;
      color: #fff;
      p {
        font-size: 2.5rem;
        font-weight: 900;
      }
      >div {
        font-size: 2.5rem;
        margin-top: 2.5rem;
      }
    }
  }
  //.search_amount_wrap {
  //  .search_box {
  //    margin-bottom: 1rem;
  //    img {
  //      margin-right: 6.5rem;
  //    }
  //    span {
  //      vertical-align: super;
  //    }
  //  }
  //  .search_total {
  //    display: flex;
  //    p {
  //      margin-right: 4.1rem;
  //      font-size: 2rem;
  //    }
  //    span {
  //      font-size: 2rem;
  //    }
  //  }
  //}
}